numpy
pandas
transformers
torch 
torchvision 
torchaudio
openai
langchain-huggingface
huggingface_hub
transformers
accelerate
bitsandbytes
langchain
faker
openpyxl 
pinecone
sentence-transformers
flask
flask_sqlalchemy
flask_cors