*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

/* #chatbot-toggler{
    position: fixed;
    bottom: 30px;
    right: 35px;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #d01d27;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

#chatbot-toggler span{
    position: absolute;
    color: #fff;
}

.container.show-chatbot #chatbot-toggler{
    transform: rotate(90deg);
}

#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child{
    opacity: 0;
}

.container.show-chatbot #chatbot-toggler span:last-child {
    opacity: 1;
} */

.container{
    align-items: center;
    width: 100vw;
}

.chatbot-popup{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    /* bottom: 90px;
    right: 35px; */
    margin-top: 15px;
    width: 90vw;
    transform: scale(0.2);
    height: 85vh;
    overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
}

.container.show-chatbot .chatbot-popup{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot-popup .chat-header{
    background: #d01d27;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 22px;
}

.chat-header .header-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info svg{
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill: #d01d27;
    background: #fff;
    border-radius: 50%;
}

.header-info .logo-text{
    color: #fff;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header button{
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.9rem;
    padding-top: 2px;
    margin-right: -10px;
    background: #d01d27;
    cursor: pointer;
    border-radius: 50%;
}

.chat-header button:hover{
    background: #de5960;
}

.chat-body{
    height:80%;
    overflow-y: auto;
    padding: 25px 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 82px;
    scrollbar-width: thin;
    scrollbar-color: #ed9089 transparent;
}

.chat-body .message{
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .bot-message svg{
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill: #fff;
    margin-bottom: 2px;
    background: #d01d27;
    border-radius: 50%;
    align-self: flex-start;
}

.chat-body .message .message-text{
    background: #d01d27;
    padding: 12px 16px;
    max-width: 75%;
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 0.95rem;
}

.chat-body .bot-message .message-text{
    background: #F6F2FF;
    border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message .message-text{
    color: #fff;
    background: #d01d27;
    border-radius: 13px 13px 3px 13px;
}

.chat-body .user-message{
    flex-direction: column;
    align-items: flex-end;
}

.chat-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px 22px 20px;
}

.chat-footer .chat-form{
    display: flex;
    align-items: center;
    background:#fff;
    border-radius: 32px;
    outline: 1px solid #CCCCE5;
    box-shadow: 0 0 8px rgba(0,0,0,0.06);
}

.chat-form .message-input{
    border: none;
    outline:none;
    background: none;
    /* height: 47px; */
    padding: 0 17px;
    font-size: 0.95rem;
    width: 100%;
}

.chat-form button{
    height: 35px;
    width: 35px;
    background: #d01d27;
    color: #fff;
    outline: none;
    border-radius: 50%;
    border: none;
    font-size: 1.15rem;
    cursor: pointer;
    margin-right: 6px;
    transition: 0.2s ease;
    /* display: none; */
}

.chat-form button:hover{
    background: #de5960;
}

.chat-footer .chat-form:focus-within{
    outline: 2px solid #d01d27;
    /* d01d27 */
}

.chat-form .message-input:valid~button{
    display: block;
}